/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    min-height: 100vh;
    padding: 10px;
}

/* ////////////////// AUTH /////////////////// */

.authContainer{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.auth{
  width: 50%;
  height: auto;
  margin-bottom: 40px;
}

.authTitle{
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 35px;
  margin: 20px auto 100px auto;
  border: solid white 2px;
  text-shadow: 0px 4px 4px rgba(151, 151, 151, 0.8);
}

.authForm{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.authInput{
  width: 40%;
  background: none;
  color: #ffffff;
  border: none;
  border-bottom: solid white 2px;
}

.inputButton{
  width: 20%;
  height: 50px;
  border: solid white 2px;
  background-color: black;
  color: white;
  margin-top: 40px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0px 8px 2px rgba(236, 236, 236, 0.8);
}

.inputButton:hover{
  box-shadow: 0 0px 10px 4px rgb(55, 238, 83);
  color: rgb(55, 238, 83);
  border: none;
}

.authButton{
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  font-size: large;
}

.authButton:hover {
  text-decoration: underline;
}

/* ////////////////// INDEX /////////////////// */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mainContainer{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid white 1px;
}

.signOutButton{
  width: 120px;
  font-size: medium;
  background-color: black;
  color: white;
  border: none;
  position: absolute;
  align-self: flex-end;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.signOutButton:hover{
  color: rgb(255, 56, 56);
  transition: color 0.3s ease-in-out;
}

.pulse{
  width: 100%;
  min-height: 100vh;
  position: absolute;
  z-index: -1;
  animation: Pulse 5s ease-in-out 0s infinite normal both;
  -webkit-animation: Pulse 5s ease-in-out 0s infinite normal both;
}

.mainTitle{
  height: 80px;
  width: 30%;
  font-size: xx-large;
  font-weight: bolder;
  border: solid white 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0px 8px 2px rgba(236, 236, 236, 0.8);
}

@media screen and (max-width: 900px) {
  .mainTitle{
    width: 260px;
  }
}

.todosContainer{
  height: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .todosContainer{
    width: 65%;
  }
}

.addTodoContainer{
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 100px auto 40px auto;
}

@media screen and (max-width: 900px) {
  .addTodoContainer{
    width: 260px;
  }
}

.input{
  width: 70%;
  height: 50px;
  color: white;
  background-color: black;
  border: none;
  border-bottom: solid white 2px;
}

@media screen and (max-width: 900px) {
  .input{
    width: 100%;
  }
}

.button{
  width: 45%;
  height: 50px;
  margin-bottom: 30px;
  background-color: #43ff64d9;
  border-color: #31ff57d9;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}

.button:hover{
  box-shadow: 0 0px 10px 4px rgb(55, 238, 83);
  border: none;
}

@media screen and (max-width: 900px) {
  .button{
    width: 170px;
  }
}


.allTodos{
  width: 100%;
  height: auto;
  border-top: solid 1px rgb(214, 214, 214);
}

@keyframes Pulse {
	0%,
	50%,
	100% {
		opacity: 1;
    box-shadow: 0px 0px 12px 6px #ffffff
	}

	25%,
	75% {
		opacity: 0;
	}
}

/* //////////////////// TodoRow //////////////// */

.todo{
  width: 100%;
  height: auto;
  padding: 0.5rem;
  display: flex;
}

.todoContent{
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 10px 10px;
  border-radius: 15px 0 0 15px;
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  -ms-border-radius: 15px 0 0 15px;
  -o-border-radius: 15px 0 0 15px;
}

.iconsContainer{
  width: 20%;
  display: flex;
  justify-content: flex-end;
  background-color: #ffffff;
  padding: 10px 10px;
  border-radius:  0 15px 15px 0px;
  -webkit-border-radius:  0 15px 15px 0px;
  -moz-border-radius:  0 15px 15px 0px;
  -ms-border-radius:  0 15px 15px 0px;
  -o-border-radius:  0 15px 15px 0px;
}

.check{
  width: 30px;
  height: 30px;
  border: solid #e5e7eb 2px;
  margin: 8px 25px 0 0;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: #21eb46d9;
  text-shadow: 0px 4px 4px #85858500;
}

h3{
  font-weight: bold;
  color: black;
  text-shadow: 0px 4px 4px #858585;
}

p{
  color: #575757;
}

/* //////////////////// MODAL //////////////// */

.modalContainer{
  position: absolute;
  width: 99%;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  margin: 10px;
}

.modalForm{
  width: 50%;
  padding: 50px 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: thick double white;
}

.modalTitle{
  width: 90%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 80px auto;
  font-size: xx-large;
  border: solid white 2px;
}

.modalContent{
  width: 80%;
  height: auto;
  display: flex;
  margin-bottom: 40px;
}

.modalLabel{
  display: block;
  align-self:flex-end;
  width: 27%;
  margin-right: 50px;
  border: none;
}

.modalInput{
  display: block;
  width: 60%;
  color: white;
  padding-left: 5px;
  background-color: black;
  border: none;
  border-bottom: solid white 2px;
}

.modalButtonsBox{
  margin-top: 20px;
  width: 60%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.greenButton, .redButton{
  width: 190px;
  height: 50px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.greenButton{
  background-color: rgb(55, 238, 83);
  border-color: #31ff57d9;
  color: rgb(255, 255, 255);
}

.greenButton:hover{
  box-shadow: 0 0px 10px 4px rgb(55, 238, 83);
  border: none;
}

.redButton{
  background-color: rgb(255, 56, 56);
  border-color: rgb(255, 40, 40);
  color: white;
}

.redButton:hover{
  box-shadow: 0 0px 10px 4px rgb(255, 56, 56);
  border: none;
}
